.Calculadora{
    color: white;
    margin-top: 20px;
}
.Calculadora h1{
    font-family: 'Comfortaa Regular';
    text-align: center;
    font-weight: 200;
}
.Calculadora div#sobre{
    text-align: center;
    margin-top: 20px;
}

.Corpo{
    color: darkblue;
    background-color: rgb(207, 207, 207);
    width: 301px;
    margin: auto;
    border-radius: 15px;
    padding-top: 1px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.664), 0 6px 20px 0 rgba(0, 0, 0, 0.705);
}
