.Botoes {
    margin-left: 5px;
    margin-right: 5px;

}

.Botoes button.operador {
    color: white;
    background-color: crimson;
}
.Botoes button.duplo {
    width: 285px !important;
    color: white;
    background-color: crimson;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.Botoes button {
    font-weight: 600;
    width: 35px !important;
    background-color: rgb(255, 255, 255);
    padding: 10px 30px 10px 30px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    font-size: large;
    border-radius: 8px;
    box-shadow: 0 3px #666;
    outline: none;
}

.Botoes button:active {
    box-shadow: 0 0 #666;
    transform: translateY(2px);
    outline: none;
}