.Visor{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 10px 0 10px;
    text-align: right;
    text-transform: lowercase;
    font-family: monospace;
    font-size: 2rem;
}
